
@media (max-width: 700px) {
    /* hide the sidebar element and fix layout for remaning elements */
    .sidebar {
        display: none;
    }
    body {
        grid-template-columns: 100vw;
    }
    .topbar, .main-website, footer {
        grid-column: 1; 
    } 

    /* integrade sidebar button in the topbar  */
    #hamburger-menue {
        display: block;
    }
}