* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-topbar: white;
    --color-sidebar: rgb(165, 164, 164);
    --color-sidebar-content: white;
    --color-body: #ADD8E6; /* #282993 */
    --color-footer: #a3bec6;
    --color-logo: #194379;

    --sidebar-font: Arial, sans-serif;
}

body {
    background-color: var(--color-body);
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 200px calc(100vw - 200px);
    height: 100vh;
}

/* topbar */
.topbar {
    grid-row: 1;
    grid-column: 2 / span 2;
    background-color: var(--color-topbar);
    display: flex;
    align-items: center;
}
#logo {
    height: 70px;
}

/* sidebar */
.sidebar {
    position: fixed;
    width: 200px;
    height: 100vh;
    background-color: var(--color-sidebar);
    color: var(--color-sidebar-content);
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    align-items: center;   
}
.sidebar > .header-text {
    font-family: var( --sidebar-font);
    font-size: 23px;
    
}
.header-text > hr {
    margin-top: 20px;
    border-color: var(--color-sidebar-content);
}
.sidebar > ul {
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;  
    height: 100%; 
    width: 100%;
}
.sidebar > ul > li {width: 90%;
    color: var(--color-sidebar-content);
    list-style: none;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: var(--color-sidebar-content);
    font-family: var( --sidebar-font);

}
#logout-button {
    margin-top: auto;
}
#schichten {
    background-color: var(--color-logo);
}

/* website */
#shift-container {
    grid-row: 2;
    grid-column: 2;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 50px;
}

.shift-card {
    background: white;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    box-shadow: 20px 8px 2px rgba(0, 0, 0, 0.1);
}

.top {
    display: flex;
    flex-direction: row;
}

.shift-card h2 {
    font-weight: 550;
    font-size: 22px;
    width: 100%;
}

.trashcan-icon {
    width: 40px;
    padding: 3px;
    border: 2px solid;
    border-radius: 3px;
}

hr {
    height: 1px;
    width: 90%;
    color: black;
    margin: 10px 0;
}

.shift-card p {
    margin: 5px 0;
}

.shift-card .positions {
    font-weight: bold;
    color: #1b7a2f;
}

#addJobDiv {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#plus-icon {
    width: 40px;
}

.input-label {
    flex: 1;
    white-space: nowrap; 
}

input:not([type="radio"]) {
    flex: 2; 
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#job-description {
    margin-bottom: 20px;
    flex: 2; 
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.radio-body {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 10px;
}

.radio-label {
    display: inline-flex;
    align-items: left;
    gap: 10px;
    font-size: 14px;
}

input[type="radio"] {
    margin: 0;
    width: 16px;
    height: 16px;
}


@media (max-width: 700px) {
    .sidebar {
        display: none;
    }
    .topbar {
        grid-column: 1 / -1; 
    }
    #shift-container {
        grid-column: 1 / -1; 
    }
}